<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body>

<h1>Lucia's Dashboard of Warren Scraping Progress</h1>

Number of Warren County properties scanned for mortgage information: {{ scanned_for_mort }} ({{ pcrt_scanned }})<br>
Number of Warren County properties with mortgage information: {{ mort_info }} ( {{ prct_w_mort }})<br>
Total number of Warren County properties: {{ num_county_prop }}
<br>
<br><br>

</body>
</html>