<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body>

<h1>Lucia's Dashboard of {{ county_name | title }} Scraping Progress</h1>
<p>Select a county to see information on its progress: </p>
<table style="width:25%">
    <tr>
       {% for county in all_counties %}
        <td><a href="{{ county }}">{{ county | title }}</a></td>
        {% endfor %}
    </tr>
</table>

{% if parsed_county %}
<br>
Number of {{ county_name | title }} County properties scanned for mortgage information: {{ scanned_for_mort }} ({{ pcrt_scanned }})<br>
Number of {{ county_name | title }} County properties with mortgage information: {{ mort_info }} ( {{ prct_w_mort }})<br>
Total number of {{ county_name | title }} County properties: {{ num_county_prop }}

{% endif %}
<br>
<br><br>

</body>
</html>